PRIVATE_KEY=
INFURA_KEY=
ETHERSCAN_API_KEY=

# Aggregator Hooks:
FORK_RPC_URL=
FORK_BLOCK_NUMBER=
# UniswapV4 Pool Manager (required for all tests)
POOL_MANAGER=
# StableSwap
STABLE_SWAP_POOL=
# StableSwap-NG
STABLE_SWAP_NG_POOL=
# Fluid
FLUID_LIQUIDITY=
# Fluid DEX T1
# RESOLVER: getDexTokens, estimateSwapIn, estimateSwapOut
# RESERVES_RESOLVER: getPoolReserves (required for pseudoTotalValueLocked)
FLUID_DEX_T1_POOL_ERC=
FLUID_DEX_T1_POOL_NATIVE=
FLUID_DEX_T1_RESOLVER=
FLUID_DEX_T1_RESERVES_RESOLVER=
FLUID_DEX_T1_FACTORY=
FLUID_DEX_T1_DEPLOYMENT_LOGIC=
FLUID_DEX_T1_TIMELOCK=
# Fluid DEX Lite
FLUID_DEX_LITE=
FLUID_DEX_LITE_RESOLVER=
FLUID_DEX_LITE_ADMIN_MODULE=
FLUID_DEX_LITE_AUTH=
FLUID_DEX_LITE_TOKEN0_ERC=
FLUID_DEX_LITE_TOKEN1_ERC20=
FLUID_DEX_LITE_SALT_ERC20=